/* Write some CSS below */
body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
}

h1, h3 {
  font-family: Chivo;
  
}

h2 {
	
	font-family: Chivo;
	font-size: 18px;
	Color: black;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}
element.style {
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.banner {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyorEg_DmYxuYFdPUfxZch4DjAfdY7nHYt9g&usqp=CAU");
    background-size: cover;);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
	Color: pink;
}
	
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
 text-align: center;
 box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 4px;
	padding: 24px;

}

.card {
	width: 100%;
}


.footer {
    background: #404042;
    text-align: center;
    padding: 10px 0;
	color: pink;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}